.nav{
    height: 70px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    font-family: "Raleway";
  
}

.nav img{
    height: 40%;
}

.nav__ul{
    display:flex;
    list-style-type: none;
   
}

.nav__ul li:not(:last-child){
    padding-right: 2rem;
    font-weight: 400;
}